<li class="file-item">
    <span class="file-id">{{number id}}</span>
    <div class="ext-box">{{icon}}</div>
    <span class="file-name">{{name}}</span>
    <span class="file-size">{{size}}</span>
    <span class="file-type">{{type}}</span>

    <a href="/show/{{id}}" class="btn-action show">Show</a>
    <a href="/info/{{id}}" class="btn-action info">Info</a>
    <a href="/download/{{id}}" class="btn-action download">Download</a>
    <a href="/delete/{{id}}" class="btn-action delete">Delete</a>
</li>